.service-list {
    list-style-type: none;
    margin-left:0px;
    padding-left:0px;
    display: inline-block;
    }
    
    .service-list img
    {
    float:left;
    }
    
    .service-list p,h3 {
    text-align: right; 
    display:inline-block;
    padding: 0;
    }